.idea
.quarantine
.tmb
/*
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/goiteens
!.gitignore
!README.md
/wp-content/themes/goiteens/package-lock.json
/wp-content/themes/goiteens/node_modules
!Jenkinsfile
!build.sh
