.idea
.quarantine
.tmb
/*
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/goiteens
!/wp-content/plugins/
!.gitignore
!README.md
node_modules
!styles.css
!helpforUkrainechildrensEDU
!python-autocheck
!python-homework-autocheck
helpforUkrainechildrensEDU/app/vendor/
helpforUkrainechildrensEDU/app/app/vendor/
