<div class="backdrop backdrop_terms is-hidden" data-termsmodal="agreements">
  <div class="terms-modal">
    <button type="button" class="btn-close" aria-label="Кнопка закриття" data-terms-close="">
      <svg width="18" height="18" class="modal__close-icon">
        <use href="./assets/images/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <div class="terms-modal__content custom-scroll">
      <h2 class="terms-modal__title">
        Публічний договір про надання послуг
      </h2>
      <p>
        Цей документ становить собою публічну оферту (надалі – Оферта), тобто пропозицію Виконавця,
        що адресована невизначеному колу осіб, укласти з Виконавцем договір про надання послуг
        (надалі – Договір) на умовах, що містяться в цій Оферті.
      </p>
      <p>
        Договір є публічним: Виконавець бере на себе обов'язок надати послуги кожному, хто до нього
        звернеться.
      </p>
      <p>
        Виконавцем за Договором виступає Фізична особа–підприємець Морева Олена Вікторівна,
        місцезнаходження якої: 02156, м. Київ, вул. Мілютенка, буд. 5, корп. А, кв. 137, РНОКПП:
        3348805849.
      </p>
      <p>
        Акцептуючи Оферту, Ви укладаєте Договір на нижчевизначених умовах та набуваєте статусу
        Замовника. Акцепт здійснюється послідовним виконанням Вами наступних дій:
      </p>
      <p>
        ❖ заповнення всіх полів у реєстраційній формі на веб-сторінці:
        <a
          href="https://course.goiteens.ua/summer_itschool"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >https://goiteens.ua/course/python-start/</a
        >
        (надалі – Веб-сторінка);
      </p>
      <p>
        ❖ прийняття умов Оферти шляхом проставлення відповідної відмітки (галочки) у реєстраційній
        формі, розміщеній на Веб-сторінці;
      </p>
      <p>❖ здійснення оплати.</p>
      <h3 class="terms-modal__subtitle">Предмет договору</h3>
      <p>
        З метою отримання доступу до Послуг, Замовник має зареєструватись на Веб-сторінці шляхом
        заповнення полів реєстраційної форми, вказавши свої правдиві та коректні дані.
      </p>
      <p>
        У разі зміни вказаних даних, Замовник зобов'язується негайно повідомити Виконавця,
        використовуючи контакти, вказані на Веб-сторінці.
      </p>
      <p>
        Реєструючись, Замовник надає згоду на обробку своїх та даних Отримувача на умовах,
        передбачених Політикою конфіденційності, що розміщена на Веб-сторінці.
      </p>

      <h3 class="terms-modal__subtitle">Порядок надання Послуг</h3>
      <p>
        Послуги Виконавцем надаються в онлайн форматі і так само як комунікація між Виконавцем,
        Замовником та Отримувачем здійснюється з використанням LMS та/або інших комп’ютерних програм
        і систем, платформ та месенджерів (надалі разом – Системи), які самостійно обираються
        Виконавцем.
      </p>
      <p>
        Замовник погоджується, що у разі повідомлення Виконавцем, він належним чином, заповнить
        відповідні реєстраційні форми згідно з правилами таких Систем, а також вкаже необхідні дані
        відповідно до вказівок Виконавця, для отримання доступу до Послуг. Доступ до Послуг
        надається після вчинення вищевказаних дій.
      </p>
      <p>
        Виконавець не несе відповідальність за дії та/або бездіяльність адміністраторів, власників,
        користувачів та ліцензіатів таких Систем, які не належать Виконавцю.
      </p>
      <p>Замовник відповідає за нерозголошення логіну та паролю до відповідних Систем.</p>
      <p>
        Замовник та Отримувач зобов’язані не надавати доступу до Послуг, їх матеріалів та до
        відповідних облікових записів у Системах, в тому числі через повідомлення логінів та паролів
        або іншим чином третім особам.
      </p>
      <p>
        Послуги надаються у форматі вебінарів, що транслюються онлайн в режимі реального часу, або в
        записі. Для доступу до вебінару Отримувач підключається до заняття через Системи в дату та
        час його проведення, зазначені на Веб-сторінці або повідомлені Виконавцем.
      </p>
      <p>
        Отримувач може брати участь у вебінарі інтерактивно з можливістю задавати питання в режимі
        реального часу, у тому числі за допомогою чату.
      </p>
      <p>
        Під форматом «запис» розуміється, записане відео, яке доступне онлайн. Для доступу до запису
        Отримувач може підключитися через Системи в будь-який час протягом строку надання Послуг.
        Інтерактивна участь у такому форматі Послуг недоступна.
      </p>
      <p>
        До вебінарів можуть додаватися різного роду матеріали та практичні завдання у формі тестів,
        творчих робіт або практичних завдань. Отримувач повинен виконувати практичні завдання
        самостійно. У разі перевищення граничної кількості невиконаних в строк практичних завдань
        (більш ніж 20 відсотків), Виконавець має право відмовити Отримувачу у видачі електронного
        сертифікату про проходження відповідного курсу. При цьому, за запитом Замовника, Отримувачу
        може бути видана довідка про проходження відповідного курсу.
      </p>
      <p>
        При проходженні курсу Замовник та Отримувач не повинні поширювати спам, наклеп або іншу
        інформацію неправдивого характеру, вчиняти дії, які можуть привести до зриву занять, образи
        інших отримувачів та представників Виконавця. У разі порушення таких вимог, Виконавець має
        право обмежити доступ Отримувача та/або Замовника до курсу (отримання Послуг) або до
        інтерактивної участі в занятті, що проводиться у форматі вебінару.
      </p>
      <p>
        Після проходження курсу Отримувачу видається електронний сертифікат про закінчення курсу, за
        умови відвідування всіх занять курсу та успішного виконання не менш ніж 80 відсотків
        практичних та інших завдань.
      </p>
      <p>
        Строки Послуг у вигляді змін та тривалості, а також вимоги до надання Послуг за обраним
        онлайн-курсом і їх опис розміщені на Веб-сторінці.
      </p>
      <p>
        Конкретні дати початку та закінчення надання Послуг, а також часові графіки повідомляються
        Замовнику та/або Отримувачу Виконавцем.
      </p>
      <p>
        Часовий графік надання Послуг встановлюється Замовником самостійно на свій розсуд.
      </p>

      <h3 class="terms-modal__subtitle">Оплата послуг</h3>
      <p>
        Вартість Послуг вказана на Веб-сторінці та сплачується Замовником шляхом перерахування
        грошових коштів на розрахунковий рахунок Виконавця згідно з виставленим рахунком або із
        використанням сервісу платіжного провайдера, який обслуговує Веб-сторінку.
      </p>
      <p>
        Замовник має можливість скористатись опцією «регулярні платежі» (рекурентні платежі) у
        сервісі платіжного провайдера, що обслуговує Веб-сторінку, яка надає можливість автоматично
        без безпосередньої участі Замовника, але з його попередньої згоди списувати кошти з
        карткового рахунку Замовника для оплати Послуг за визначеним Виконавцем графіком, за умови
        наявності коштів на відповідному рахунку, та якщо такі операції можуть здійснюватись
        відповідно до умов обслуговування банку Замовника.
      </p>
      <p>
        У випадку обрання Замовником опції регулярних платежів, дане положення слід розглядати як
        згоду Замовника на договірне списання коштів його обслуговуючим банком з його рахунку для
        перерахування плати за Послуги на користь Виконавця.
      </p>
      <p>
        Оплата курсу здійснюється щомісячно, за кожен місяць Послуг шляхом 100% передоплати, не
        пізніше ніж за 5 (п’ять) днів до початку кожного нового місяця курсів, що оплачується.
      </p>
      <p>
        Розподіл всього строку надання Послуг на місяці здійснюється Виконавцем, виходячи з дати
        початку, закінчення надання Послуг та графіку занять.
      </p>
      <p>
        У разі сплати Замовником грошових коштів у розмірі більшому ніж вартість Послуг за один
        місяць, сума переплати зараховується Виконавцем як часткова передплата за наступний
        місяць(ці).
      </p>
      <p>
        Будь-які комісії або інші обов'язкові платежі за перерахування грошових коштів, що
        стягуються банком, небанківськими фінансовими установами та/або іншими платіжними
        провайдерами сплачуються Замовником самостійно.
      </p>
      <p>
        Виконавець залишає за собою право в односторонньому порядку змінювати вартість Послуг.
      </p>
      <p>Вказані зміни вступають в силу з моменту розміщення таких змін на Веб-сторінці.</p>
      <p>
        Зміни вартості Послуг вважаються прийнятими Замовником при здійсненні оплати Замовником
        зміненої вартості Послуг.
      </p>

      <h3 class="terms-modal__subtitle">Правила повернення грошових коштів</h3>
      <p>
        Замовник за згодою з Виконавцем, має право відмовитися від отримання Послуг, що повинні бути
        надані Виконавцем.
      </p>
      <p>
        Для цього Замовнику необхідно повідомити Виконавця не пізніше ніж за 24 години до початку
        надання Послуг (дати початку курсу). Зазначене повідомлення надсилається Виконавцю на
        <a href="mailto:contact@goiteens.ua">contact@goiteens.ua</a>.
      </p>
      <p>
        Для повернення грошових коштів Замовник направляє заяву за формою, наданою Виконавцем.
        Повернення грошових коштів здійснюється протягом десяти робочих днів з моменту отримання
        заяви. Якщо інше не погоджено з Замовником, повернення грошових коштів здійснюється за
        реквізитами, що вказані в заяві Замовника.
      </p>
      <h3 class="terms-modal__subtitle">Додаткові умови</h3>
      <p>
        Замовник та Отримувач не мають права змінювати, поширювати, копіювати, відтворювати,
        передавати, виконувати публічно, публікувати, адаптувати, редагувати, створювати похідні
        роботи з матеріалів або інших об’єктів інтелектуальної власності, доступ до яких на час
        надання Послуг було надано Виконавцем.
      </p>
      <p>
        При посиланні на будь-які матеріали, що надаються Виконавцем, у разі надання Виконавцем
        права на таке посилання, необхідно вказувати веб-сторінку
        <a href="https://goiteens.ua" target="_blank" rel="noopener noreferrer nofollow"
          >www.goiteens.ua</a
        >.
      </p>
      <p>Застосовним правом щодо правовідносин Сторін є право України</p>
      <p>
        Скарги, пропозиції, заяви та претензії до Виконавця можуть надсилатися на адресу
        <a href="mailto:contact@goiteens.ua">contact@goiteens.ua</a>.
      </p>
      <p>
        Виконавець залишає за собою право вносити зміни в Договір та Оферту в будь-який час на свій
        розсуд шляхом опублікування на Веб-сторінці актуальної редакції.
      </p>
      <p>Відповідальність за перевірку Договору на предмет змін покладається на Замовника.</p>
      <p><strong>Опубліковано 03 червня 2021 року</strong></p>
    </div>
  </div>
</div>
