// .learn-profitably {

// }
// .learn-profitably_title {
// }
// .learn-profitably_img {
// }
// .learn-profitably_list {
// }
// .learn-profitably_item {
// }
// .learn-profitably__icon{

// }
.learn-profitably_item > h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}
// .learn-profitably_item > p {
// }