.new-minecraft{
    .programme {
        padding: 16px 0 20px;
        background-color: $color-white;
        @media screen and (min-width: 768px) {
            padding: 40px 0;
          }
          @media screen and (min-width: 1280px) {
            padding: 60px 0;
          }
    
    &_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 94px;

        @media screen and (min-width: 768px) {
           row-gap: 20px;
           column-gap: 96px;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: center;
          }
          @media screen and (min-width: 1280px) {
            flex-wrap: nowrap;
          }
    }
    &_item {
        position: relative;
        &:first-child{
            padding: 40px 0 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 176px;
            box-shadow: 0px 1px 2px rgba(2, 105, 0, 0.08), 10px 10px 32px rgba(2, 105, 0, 0.14);
border-radius: 4px;
        }
        &:nth-child(2){
            & .programme_details-item{
height: 117px;
& > h3{
    font-size: 20px;
}
& > p{
    font-size: 16px;
}
            }
        }

        &:last-child{
            & .programme_details-item{
height: 84px;
& > h3{
    font-weight: 500;
    color: $color-nm-deep-green;
}
            }
        }
        &:not(:last-child)::after{
            position: absolute;
            content: "";
            width: 72px;
            height: 65px;
            left: 50%;
            bottom: -80px;
            transform: translateX(-50%);
            box-shadow: 0px 1px 2px rgba(2, 105, 0, 0.08), 10px 10px 32px rgba(2, 105, 0, 0.14);
border-radius: 4px;
            // background-repeat: no-repeat;
           
            background: url(../images/new-minecraft/arrow-img-2x.png) no-repeat  $color-white;
background-size: 26px 32px;
background-position: center;

        }
        width: 100%;

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 2 * 96px) / 3);
           }
           @media screen and (min-width: 1280px) {
            flex-basis: calc((100% - 4 * 96px) / 5);
           }
    }
    &_details-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // column-gap:16px;
        row-gap:14px
    }
    &_details-item {
flex-basis: calc((100% - 16px) / 2);
text-align: center;
height: 80px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 1px 2px rgba(2, 105, 0, 0.08), 10px 10px 32px rgba(2, 105, 0, 0.14);
border-radius: 4px;
& > h3{
    color: $color-nm-yellow;
    font-weight: 700;
    font-size: 16px;

}
& > p {
    font-size: 14px;
}
    }
}
}