.itm_newyear {

  &__expect {
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
     padding: 0;
    .expect_wrapper{
      padding-top: 28px;
      padding-bottom: 114px;
      background-color: $color-xmas-beige;
      @media screen and (min-width: 768px) {
        padding: 55px 0;
      }
      position: relative;
      width: 100%;
      
      background-image: url(../images/itmarathon/xmas-img/garland-mob.svg);
background-position: bottom 0 left 0;
background-size: 75px;
background-repeat: no-repeat;

// background-size: cover;
        // height:  176px;
      
      @media screen and (min-width: 1280px) {
        margin: 0 auto;
        max-width: 1440px;
        height: 1407px;
background-image: url(../images/itmarathon/xmas-img/expect-desk.svg), url(../images/itmarathon/xmas-img/garland.svg);
background-position: top 0 center, bottom 0 left 0, top 40px center;
background-size: cover, 307px;
        
      }
      &::after{
        width: 107px;
        position: absolute;
        height: 222px;
        content: "";
        display: block;
        bottom:0;
        right: 0;
        z-index: 3;
        background-image:url(../images/itmarathon/xmas-img/hat-man-mob-2x.png);
        background-repeat: no-repeat;
        background-size: contain;
  
        @media screen and (min-width: 1280px) {
          width: 296px;
          height: 617px;
          background-image:url(../images/itmarathon/xmas-img/hat-man-desk-2x.png);
        }
      }

    }

    .container{
      background-image: url(../images/itmarathon/xmas-img/mob-bg-expect-short.png);
      background-position: top 65px left 0;
      background-repeat: no-repeat;
      @media screen and (min-width: 1280px) {
       
      background-image: url(../images/itmarathon/xmas-img/expect-clear-bg.png);
          background-position: top -60px center;
          background-size: 100%;
      //     background-repeat: no-repeat;
      }
    }
    .expect_question {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 44px;
      @media screen and (min-width: 768px) {
       
        margin-bottom: 50px;
        // text-align: start;
        font-size: 40px;
      }
    }
    .expect_days-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-bottom: 51px;
      padding-left: 110px;
      // position: relative;
      background-repeat: no-repeat;
      // background-image: url(../images/itmarathon/xmas-img/list-bg.png);
background-position: top 20px left -40px;
background-size: 44px 62px;

@media screen and (min-width: 768px) {
  max-width: 568px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
}
        @media screen and (min-width: 1280px) {
         
          margin-bottom: 80px;
          gap:31px;
          width: 818px;
          
        
         }
    }

    .expect_days-item {
      position: relative;
      width: 100%;
      @media screen and (min-width: 768px) {
        max-width: 390px;
        
       }
      @media screen and (min-width: 1280px) {
        max-width: 590px;
       }
      & > h3 {
        margin-bottom: 4px;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 700;
        @media screen and (min-width: 768px) {
          margin-bottom: 15px;
          
         }
      @media screen and (min-width: 1280px) {
       font-size: 32px;
       line-height: 1.22;
       margin-bottom: 12px;
      }
  
      }
      & > p{
  font-size: 16px;
  line-height: 1.19;
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.21;
   }

      }
    }

    .expect_days-item:nth-child(odd){
      @media screen and (min-width: 768px) {
        text-align: start;
        align-self:flex-start;
       }
       @media screen and (min-width: 1280px) {
       margin-left: -60px;
       }
    }
    .expect_days-item:nth-child(even){
      @media screen and (min-width: 768px) {
        text-align: end;
        align-self:flex-end;
       }
       @media screen and (min-width: 1280px) {
        margin-right: -80px;
       }
    }
    .expect_days-item:last-child{
      @media screen and (min-width: 1280px) {
margin-top: -60px;
      }
    }

    // @media screen and (min-width: 1280px) {
    //   text-align: start;
    //  }

    // .expect_days-item:nth-child(1)::before{
    //     width: 47px;
    //     position: absolute;
    //     height: 70px;
    //     content: "";
    //     background-size: 47px 70px;
    //     background-repeat: no-repeat;
    //     background-image: url(../images/itmarathon/xmas-img/tree-toy.svg);
    //     display: block;
    //     z-index: 1;
    //     top:20px;
    //     left: 10px;
    //     @media screen and (min-width: 1280px) {
    //       background-size: 112px 134px;
    //       width: 112px;
    //       height: 134px;
    //     }
      
    //   }
  //      & > h3{
  //         @media screen and (min-width: 1280px) {
  //         background-image: url(../images/itmarathon/xmas-img/bg-item-1.svg);
  // background-position: center;
  // background-size: cover;
  //         width: 205px;
  //         height: 90px;
  //         }
  //   }
  }

  //   .expect_days-item:nth-child(1){
  //     @media screen and (min-width: 1280px) {
  //      text-align: start;
  //     }
  //     &::before{
  //       width: 47px;
  //       position: absolute;
  //       height: 70px;
  //       content: url(../images/itmarathon/xmas-img/tree-toy.svg);
  //       display: block;
  //       z-index: 1;
  //       top:20px;
  //       left: 10px;
  //       @media screen and (min-width: 1280px) {
  //         width: 112px;
  //         height: 134px;
  //       }
      
  //     }
  //      & > h3{
  //         @media screen and (min-width: 1280px) {
  //         background-image: url(../images/itmarathon/xmas-img/bg-item-1.svg);
  // background-position: center;
  // background-size: cover;
  //         width: 205px;
  //         height: 90px;
  //         }
  //   }
  // }
//     .expect_days-item :nth-child(2){
//       @media screen and (min-width: 1280px) {
//         text-align: end;
//        }
//        &::before{
//         width: 47px;
//         position: absolute;
//         height: 46px;
//         content: url(../images/itmarathon/xmas-img/x-mas-hat.svg);
//         display: block;
//         z-index: 1;
//         background-image:u;
//         @media screen and (min-width: 1280px) {
//           width: 143px;
//           height: 140px;
//         }
//       }
//        & > h3{
//         @media screen and (min-width: 1280px) {
//         background-image: url(../images/itmarathon/xmas-img/bg-item-1.svg);
// // background-position: center;
// // background-size: cover;
//         width: 169px;
//         height: 71px;
//         }
//       }
    
//   }
//     .expect_days-item :nth-child(3){
//       @media screen and (min-width: 1280px) {
//        text-align: start;
//       }
//       &::before{
//         width: 44px;
//         position: absolute;
//         height: 49px;
//         content: url(../images/itmarathon/xmas-img/present.svg);
//         display: block;
//         z-index: 1;
//         top:15px;
//         left:10px;
//         @media screen and (min-width: 1280px) {
         
//           width: 74px;
//           height: 152px;
//         }
//       }
//       & > h3{
//         @media screen and (min-width: 1280px) {
//         background-image: url(../images/itmarathon/xmas-img/bg-item-1.svg);
// background-position: center;
// background-size: cover;
//         width: 186px;
//         height: 91px;
//         }
//       }
    
//   }
//     .expect_days-item :nth-child(4){
//       @media screen and (min-width: 1280px) {
//        text-align: end;
//       }
//       &::before{
//         width: 80px;
//         position: absolute;
//         height: 80px;
//         content: url(../images/itmarathon/xmas-img/tree-man-2x.png);
//         display: block;
//         z-index: 1;
//         top:10;
//         left:6px;
//         transform: scaleX(-1);
//         @media screen and (min-width: 1280px) {
//           transform: scaleX(0);
//           width: 200px;
//           height: 207px;
//         }
//       }
//       & > h3{
//         @media screen and (min-width: 1280px) {
//         background-image: url(../images/itmarathon/xmas-img/bg-item-1.svg);
// background-position: center;
// background-size: cover;
//         width: 208px;
//         height: 68px;
//         }
//       }
    
//   }
//     .expect_days-item:nth-child(5){
//       @media screen and (min-width: 1280px) {
//        text-align: start;
//       } 
//       &::before{
//         width: 52px;
//         position: absolute;
//         height: 67px;
//         content: url(../images/itmarathon/xmas-img/candy.svg);
//         display: block;
//         z-index: 1;
//         @media screen and (min-width: 1280px) {
//           background-position: top 0 left 20px;
//           width: 122px;
//           height: 125px;
//         }
//       }
//       & > h3{
//         @media screen and (min-width: 1280px) {
//         background-image: url(../images/itmarathon/xmas-img/bg-item-1.svg);
// background-position: center;
// background-size: cover;
//         width: 162px;
//         height: 52px;
//         }
//       }
    
//   }
    .expect_suggestion {
      font-size: 24px;
      margin-bottom: 26px;
      font-weight: 700;
      text-align: center;
      display: block;
      max-width: 290px;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      }

      @media screen and (min-width: 1280px) {
     font-size: 48px;
     margin-bottom: 22px;
     max-width: 694px;
    //  margin: 0 auto;
     
      }
    }
    .expect_registration-btn {
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 296px;
      height: 72px;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      background-color: $color-xmas-btn;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: 0;
      margin: 0 auto;
    }


.expect_cloud-text{
  display: none;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    display: block;
    max-width: 238px;
    background-image: url(../images/itmarathon/xmas-img/cloud-think.svg);
    background-size: 123px 132px;
  }
  & > span{
text-transform: uppercase;
  }
}

  }

