/**
 * Breakpoints
 */
$breakpoints: (
        xxs: 439px,
        xs: 479px,
        sm: 767px,
        md: 991px,
        lg: 1199px,
        xl: 1279px,
        xs-min:480px,
        sm-min:768px,
        lg-min:1200px,
        lg-min-m:1280px,
        sm-max:767.98px,

);

/**
 * Body
 */
$font-body          :   'Gilroy', sans-serif;

/**
 * Colors
 */

$color-primary      :   #1C9DE3;
$color-secondary    :   #0B2837;
$color-blue         :   #19385E;
$color-blue-dark    :   #011a3b;
$color-blue-light   :   #E3EFFF;
$color-blue-indigo  :   #426EAA;
$color-blue-super   :   #4289EE;
$color-black        :   #141316;
$color-dark-alt     :   #292929;
$color-gray         :   #696969;
$color-gray-light   :   #FAFCFF;
$color-gray-dark    :   #bcbcbc;
$color-yellow       :   #ff9600;
$color-text         :   #ACACAC;
$color-white        :   #fff;
$color-light        :   #E7E5E5;
$color-red          :   #ff4747;
$color-red-strong   :   #67062a;
$color-green        :   #19B500;
$color-purple       :   #7C62E3;
$color-pink         :   #e01d4f;
$color-orange       :   #F95738;
$color-sale-yellow  :   #FED32B;
$color-sale-purple  :   #AA43A2;
$color-sale-ashen   :   #F9F0F8;
$color-sale-black   :   #202020;
$color-tabs-yellow   :   #FEC830;
$color-xmas-btn     :   #19A1CC;
$color-xmas-red     :   #D10000;
$color-xmas-beige   :   #F7F6F4;
$color-nm-green     :   #368900;
$color-nm-green-act :   #255E00;
$color-nm-lite-green:   #63A835;
$color-nm-deep-green:   #143300;
$color-nm-mid-green :   #51892C;
$color-nm-btn-act   :   #368900;
$color-nm-bg-lite   :   #FAF9F9;
$color-nm-yellow    :   #FEC830;
$color-nm-purple    :   #AA43A2;
$color-nm-text-lite :   #504C5C;
$color-nm-text      :   #202020;
$color-nm-marker    :   #FFF2CC;
$color-nm-text-mid  :   #504C5C;
$color-nm-text-gray :   #3F3F3F;
$color-nm-counter-bg:   #FFE58A;
$color-nm-social:       #5D778E;
